.turns {
    border: 1px solid #ccc;
    margin: 15px 0 45px 0;
    position: relative;
    padding: 15px;
}

.turns .label {
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    background: #eee;
    padding: 0 15px;
}

.turns .count {
    font-size: 5em;
    color: #f66;
}